<!-- <hr> -->
<div class="bdr-horizontal-light" style="padding-bottom: 10px;"></div>
<!-- <div #row1 class="col-12 md:col-12 lg:col-12">
    <div class="grid">
        <div #col0 class="col-12 md:col-1 lg:col-1"></div>
        <div #col1 class="col-12 md:col-2 lg:col-2">
            <div class="col-12 md:col-12 lg:col-12 no-pad-top no-pad-btm">
                <span style="font-size: medium; font-weight: bold;">செய்திகள்</span><br>
                <span class="cursor" style="font-size: small;" [routerLink]="['/state-news']">மாநில செய்திகள்</span><br>
                <span class="cursor" style="font-size: small;" [routerLink]="['/news']">தேசிய செய்திகள்</span><br>
                <span class="cursor" style="font-size: small;" [routerLink]="['/district-news']">மாவட்ட செய்திகள்</span><br>
                <span class="cursor" style="font-size: small;" [routerLink]="['/world-news']">உலக செய்திகள்</span><br>
            </div>
        </div>
        <div #col2 class="col-12 md:col-2 lg:col-2">
            <div class="col-12 md:col-12 lg:col-12 no-pad-top no-pad-btm">
                <span style="font-size: medium; font-weight: bold;">பதிப்பு</span><br>
                <span class="cursor" style="font-size: small;" [routerLink]="['/homeeditionchennai']">சென்னை</span><br>
                <span class="cursor" style="font-size: small;" [routerLink]="['/homeeditioncoimbatore']">கோயம்புத்தூர்</span><br>
                <span class="cursor" style="font-size: small;" [routerLink]="['/homeeditionmadurai']">மதுரை</span><br>
                <span class="cursor" style="font-size: small;" [routerLink]="['/homeeditiontrichy']">திருச்சி</span><br>
            </div>
        </div>
        <div #col3 class="col-12 md:col-2 lg:col-2">
            <div class="col-12 md:col-12 lg:col-12 no-pad-top no-pad-btm">-->
                <!-- <img src="assets/images/header/about.jpg" style="width: 7%;"[routerLink]="['/about']"> -->
                <!-- <i class="pi pi-fw pi-info-circle" style="color: rgb(47, 73, 223); font-size: 1.1rem; margin: 2px"></i> -->
                <!-- <span class="cursor" style="font-size: small;" [routerLink]="['/about']">முரசொலி பற்றி </span><br>
                <i class="pi pi-fw pi-mobile" style="color: rgb(227, 23, 88); font-size: 1.1rem; margin: 2px"></i> -->
                <!-- <img src="assets/images/header/e-paper.jpg" style="width: 7%;"[routerLink]="['/e-paper']"> -->
                <!-- <span class="cursor" style="font-size: small;" [routerLink]="['/e-paper']">இ – பேப்பர்</span><br>
            </div> -->
            <!-- <div class="col-12 md:col-12 lg:col-12"></div><br>
            <div class="col-12 md:col-12 lg:col-12 no-pad-top no-pad-btm">
                <img src="assets/images/header/murasoli-new.jpg" style="width: 75%;"
                [ngStyle.xs]="{'width': '-webkit-fill-available'}" />
            </div> -->
        <!-- </div> -->
        <!-- <div #col4 class="col-12 md:col-3 lg:col-3">
            <div class="col-12 md:col-12 lg:col-12 no-pad-top no-pad-btm">
                <span style="font-size: medium; font-weight: bold;">தொடர்பு கொள்க</span><br>
                <span style="font-size: small;">முரசொலி அறக்கட்டளை</span><br>
                <span style="font-size: small;">180, கோடம்பாக்கம் நெடுஞ்சாலை,</span><br>
                <span style="font-size: small;">சென்னை - 600034.</span><br>
                <span style="font-size: small;">தமிழ்நாடு, இந்தியா.</span><br>
            </div> -->
        <!-- </div> -->
        <!-- <div #col5 class="col-12 md:col-2 lg:col-2">
            <div class="col-12 md:col-12 lg:col-12 no-pad-top no-pad-btm">
                <span class="cursor">
                    <a href="https://www.facebook.com/murasoli180" target="_blank">
                    <img src="assets/images/header/facebook.png"/> -->
                    <!-- <i class="pi pi-fw pi-facebook" style="color: blue; font-size: 1.2rem; margin: 2px"></i> -->
                <!-- </a> -->
                <!-- </span> -->
                <!-- <a href="https://www.facebook.com/murasoli180" target="_blank"> <span class="cursor" style="font-size: medium;">Facebook</span></a><br> -->

                <!-- <span class="cursor"> -->
                    <!-- <a #mail [href]="href" (click)="share('_MA')" target="_blank"> -->
                        <!-- <img src="assets/images/header/gmail.png"/> -->
                        <!-- <i class="pi pi-fw pi-envelope" style="color: rgb(235, 8, 8); font-size: 1.2rem; margin: 2px"></i> -->
                    <!-- </a> -->
                <!-- </span> -->
                <!-- <a #mail [href]="href" (click)="share('_MA')" target="_blank"> <span class="cursor" style="font-size: medium; color: blue;">E-Mail</span></a><br> -->
                <!-- <span class="cursor"> -->
                    <!-- <a href="https://www.instagram.com/murasoli180" target="_blank"> -->
                        <!-- <img src="assets/images/header/instagram.png"/>&nbsp; -->
                        <!-- <i class="pi pi-fw pi-instagram" style="color: rgb(248, 98, 148); font-size: 1.2rem; margin: 2px"></i> -->
                    <!-- </a> -->
                <!-- </span> -->
                <!-- <a href="https://www.instagram.com/murasoli180" target="_blank">  <span class="cursor" style="font-size: medium;">Instagram</span></a><br> -->
                <!-- <span class="cursor"> -->
                    <!-- <a href="https://www.youtube.com/@murasoli180" target="_blank"> -->
                        <!-- <i class="pi pi-fw pi-youtube" style="color: rgb(253, 27, 27); font-size: 1.2rem; margin: 2px"></i> -->
                    <!-- </a> -->
                <!-- </span> -->
                <!-- <a href="https://www.youtube.com/@murasoli180" target="_blank"> <span class="cursor" style="font-size: medium;">YouTube</span></a><br> -->
                <!-- <span class="cursor"> -->
                    <!-- <a href="https://www.twitter.com/murasoli180" target="_blank"> -->
                    <!-- <i class="pi pi-fw pi-twitter" style="color: deepskyblue; font-size: 1.2rem; margin: 2px"></i> -->
                        <!-- </a> -->
                <!-- </span> -->
                <!-- <a href="https://www.twitter.com/murasoli180" target="_blank">  <span class="cursor" style="font-size: medium;">Twitter</span> </a><br> -->
            <!-- </div> -->
            <!-- <div class="col-12 md:col-12 lg:col-12"> -->
            <!-- </div> -->
        <!-- </div> --> 
    <!-- </div> -->
<!-- </div>  -->
<div class="col-12"></div>
<div class="col-12 no-pad" style="font-size: small; text-align: center">
            <span>Copyright ©Murasoli. All rights reserved.</span>
</div>
<!-- <div class="col-12" style="background-color: #b90909; height:5px; padding:0%; "></div> -->

 <!-- //Powered by Tryme Tech Solutions Pvt. Ltd -->