<app-header></app-header>
<app-menu></app-menu>
<div class="col-12">
    <!-- <div class="bar-dark"></div> -->
            <p-panel header={{title}}>
            <p-toast position="top-center" key="t-msg"></p-toast>
        <!-- <div class="col-12 bdr-horizontal-light"></div> -->
        <div *ngIf="loader" style="text-align: center;">
            <p-progressSpinner aria-label="Loading"></p-progressSpinner>
        </div>
        <div class="col-12 no-pad">
            <div *ngFor="let i of data" class="col-12 cursor" (click)="onNavigate(i)">
                <div class="grid no-gutter">
                    <div class="col-12">
                        <div class="inner-news-header-font font"> <span> {{i.headLine}} </span> </div>
                        <div style="float: right;">
                            <img *ngIf="i.hasImg" [src]="i.imgURL"/>
                            <div>
                                <span class="txt-small">{{i.incidentShortDate}}</span>
                            </div>
                        </div>
                        <div class="news-content-smaller font-short">{{i.newsShort}}</div>
                    </div>
                    <!-- <div class="col-6 md:col-2 lg:col-2 no-pad-top no-pad-lft">
                        <img *ngIf="i.hasImg" [src]="i.imgURL" style="width: -webkit-fill-available !important;">
                    </div> -->
                </div>
                <!-- <div class="col-12 md:col-12 lg:col-12 bdr-horizontal-light no-pad-btm"></div> -->
            </div>
        </div>
        <div *ngIf="showPaginator" class="col-12" style="text-align: center;">
            <i class="pi pi-fw pi-angle-double-left" (click)="goto('F')"></i>&nbsp;
            <i class="pi pi-fw pi-angle-left" (click)="goto('P')"></i>&nbsp;
            <input class="col-1" name="_timelimit" type="text" [(ngModel)]="pageNo" readonly pInputText
                style="text-align: center;width: 50px;">&nbsp;
            <i class="pi pi-fw pi-angle-right" (click)="goto('N')"></i>&nbsp;
            <i class="pi pi-fw pi-angle-double-right" (click)="goto('L')"></i>
        </div>
            </p-panel>
    </div>