<!-- <div class="col-12 md:col-12 lg:col-12 no-pad-lft no-pad-rgt">
  <app-menu></app-menu>
</div>
<div class="col-12 md:col-12 lg:col-12">
  <p-toast position="top-center" key="t-msg"></p-toast>
  <div class="col-12 no-pad">
    <div class="grid grid-center">
      <div class="col-12 md:col-4 lg:col-2">
        <span class="p-float-label">
          <p-calendar name="_judgementdate" [showIcon]="true" [(ngModel)]="date" (ngModelChange)="loadPDF()"></p-calendar>
        </span>
      </div>
      <div class="col-12 md:col-4 lg:col-2">
        <p-dropdown [options]="districtOptions" [(ngModel)]="district" placeholder="மாவட்டங்கள்"
          (onClick)="onSelectDistrict()" (onChange)="loadPDF()"></p-dropdown>
      </div>
      <div class="col-12 md:col-4 lg:col-7" style="display: flex;justify-content: end;">
        <p-speedDial [model]="items" direction="down" showIcon="pi pi-share-alt" hideIcon="pi pi-times"
        ></p-speedDial>
      </div>
    </div>
  </div>
  <div class="bar-dark"></div>
  <div class="grid grid-center">
    <div class="col-12 md:col-11 lg:col-11 pdf-container">
          <ngx-extended-pdf-viewer [src]="src" [useBrowserLocale]="true" [sidebarVisible]="true"
      [textLayer]="true"  (pageChange)="pageChange($event)"
      [showHandToolButton]="true"
      > </ngx-extended-pdf-viewer>
        </div>
  </div>
</div> -->