<app-header></app-header>
<app-menu></app-menu>
<div class="col-12 md:col-12 lg:col-12" >
  <div class="bar-dark"></div>
  <p-panel>
  <div class="grid grid-center" style="margin:3%;">
            <div class="col-3 md:col-3 lg:col-3">
                <img src="assets/images/news/maran.png" style="width: -webkit-fill-available !important;"/>
                
            </div>
            <p id="desc" style="float: left; line-height: 24px; text-align: justify; color: rgb(102, 102, 102); font-family: Tahoma, Geneva, sans-serif; font-size: 12px; overflow: hidden; height: auto;padding-right: 2%;">

    <div class="col-12 ">
      
        <!-- <p style="font-size:15px; color:red; font-family:Tahoma, Geneva, sans-serif;"><b>முரசொலி மாறனின் சகாப்தம்</b></p> -->
                
       
            <p-accordion [activeIndex]="0">
            <p-accordionTab header="முரசொலி மாறனின் சகாப்தம்">
              
                <p>
                
                    இந்தியாவின் மூத்த பத்திரிகையாளர், தமிழ் வளர்த்த ‘முரசொலி’ எனும் முதுபெரும் நாளேட்டின் ஆசிரியர், இளம் பிராயம் தொட்டு பொதுப்பணியிலே ஆர்வம் கொண்டு, அயராது பொதுத்தொண்டு ஆற்றியவர்.<br><br>

                    தமது 35 ஆண்டு காலத்திற்கும் மேலான நாடாளுமன்ற அனுபவத்தால், நாடாளுமன்ற ஜனநாயக முறைகளை பழுதற உணர்ந்த, பேணிய பண்பாளர், பொருளாதாரப் பிரச்சினைகள் குறிப்பாக தொழில் மற்றும் வர்த்தகக் கொள்கை சீர்திருத்தங்களை அலசி ஆராயும் அளவிற்கு ஆழ்ந்த பேரறிவு வாய்க்கப் பெற்றவர், இலக்கியத் துறையில் இன்பத் தமிழ்க் காவியங்கள் ஏராளம் படைத்தளித்தவர் முரசொலி மாறன் அவர்கள்.<br><br>

                    உறவுக்கு கை கொடுப்போம், உரிமைக்கு குரல் கொடுப்போம் எனும் கழகத்தின் தூய்மையான கொள்கையே மாநில சுயாட்சி கோரிக்கை. இந்தியாவைத் துண்டு துண்டாக்கிட தூக்கப்படும் கொடுவாள் இது என்றும் ஒருமைப்பாட்டு உணர்வுக்கு எதிராக வைக்கப்படும் வேட்டு என்றும் தாங்களும் குழம்பி, பிறரையும் குழப்ப முனைந்த இருசாராருக்கும் அளிக்கப்பட்ட விரிவான விடைபோல, மாநில சுயாட்சி எனும் மகத்தான நூலினை யாத்தளித்து, கழகத்தின் வரலாற்றில் தனக்கென தனியிடம் பதித்த தகைமையாளர்.<br><br>

                </p>
                
            </p-accordionTab>
        
            
            <p-accordionTab header="திராவிட இயக்க வரலாறு நூலினை எழுதியவர்">
                <p>
                    இந்தியாவின் மூத்த பத்திரிகையாளர், தமிழ் வளர்த்த ‘முரசொலி’ எனும் முதுபெரும் நாளேட்டின் ஆசிரியர், இளம் பிராயம் தொட்டு பொதுப்பணியிலே ஆர்வம் கொண்டு, அயராது பொதுத்தொண்டு ஆற்றியவர்.<br><br>
                    
                    நீதிக் கட்சி தொடங்கிய காலந்தொட்டு, இன்று கழகம் பாரெங்கும் விரிந்து பரந்து பகுத்தறிவு மணம் பரப்பும் காலம் வரையிலான கழகத்தின் வரலாற்றினை ஒரு பெருந்தொகுப்பாக, திராவிட இயக்க வரலாறு எனும் தீந்தமிழ்க் காவியமாகத் தீட்டியவர் முரசொலி மாறன் அவர்கள்.<br><br>
                   
                    திருவாரூர் மாவட்டம் திருக்குவளை எனும் கிராமத்தில் 17.8.1934ஆம் ஆண்டு பிறந்தார், மாறன் அவர்கள். இவருக்கு மல்லிகா என்ற மனைவியும், கலாநிதி-தயாநிதி எனும் இரண்டு மகன்களும், அன்புக்கரசி எனும் மகளும் உள்ளனர்.<br><br>
                   
                    எனக்கு அகரம் கற்றுக் கொடுத்தவர், என்னை தமது மார்மீதும் தோள்மீதும் போட்டு வளர்த்தவர், என்னை ஆளாக்கியவர், எனது ஆசான் என தமது உயிருக்குயிரான மாமா தலைவர் கலைஞர் அவர்களைப் பற்றி மாறன் அவர்கள் நன்றியுணர்வோடு நெகிழ்ந்து கூறாத நாட்கள் இல்லை எனலாம்.<br><br>
                  
                    இளம் பிராயத்தில் திருக்குவளையில் பள்ளியில் படிக்கத் துவங்கிய காலம் தொட்டு, தலைவர் கலைஞரின் அரவணைப்பிலேயே வளர்ந்தவர், அவ்வாறே எம்.ஏ., பட்டப் படிப்பை சென்னை-பச்சையப்பன் கல்லூரியில் முடித்தார்.<br><br>

                    எழுத்தாளராக, பத்திரிகையாளராக, இலக்கியவாதியாக, திரைப்பட கதாசிரியராக, வசனகர்த்தாவாக, பாடலாசிரியராக, இயக்குநராக, தயாரிப்பாளராக என பட்டியலிட இயலா அளவிற்கு பன்முகப் பரிமாணங்கள் கொண்டவராக விளங்கிய மாறன் அவர்கள், சிறந்த பேச்சாளரும்கூட! கழகத்து மேடைகளில் அவர் செய்த கொள்கைச் சங்கநாதம் கேட்டு வீறுகொள்ளாத கழகத்தினர் இல்லை என்னும் அளவிற்கு, தலைவர் கலைஞர்போல வீர முழக்கமிடுவார்.<br><br>

                    1965ஆம் ஆண்டு வாக்கில் தமிழகத்தில் மொழிப்போர்த்தீ கனன்று கொண்டிருந்தபோது, இவர் முரசொலியில் தீட்டிய ஏராளமான கட்டுரைகள், போராட்டக் களத்தில் நின்ற மாணவர்களை மேலும் வீறுகொண்டெழச்செய்தது.<br><br>

                    1976ஆம் ஆண்டு துவக்கத்தில் இந்தியாவெங்கும் நெருக்கடி நிலை பிரகடனப்படுத்தப்பட்ட போது, ஜனநாயகம் காத்திடும் அந்த மகத்தான போரில் கலைஞர் தமது ஆட்சியையே காவு கொடுத்தார். மிசா காலத்தில் கழக முன்னணியினர் 500க்கும் மேற்பட்டோர் கொட்டடிகளில் அடைக்கப்பட்டு அடித்து துவைத்து துன்புறுத்தப்பட்டனர்.<br><br>

                    கழகத்தவர் வதைபடுவதை கண்டு சகிக்க முடியாத கலைஞர், ஆட்சியாளர்களின் வன்முறை பசிக்கு எனது மருமகன் மாறனையும், மகன் ஸ்டாலினையும் வேண்டுமானால் நான் இரையாகத் தருகிறேன். கழகத்தினரை வதைக்காது, விட்டு விடுங்கள் என்று கோரும் அளவுக்கு சிறைகளில் வன்முறை தலைவிரித்தாடியது. அப்போது மாறன் அவர்கள் போலீசாரால் வன்மையாக தாக்கப்பட்டு துன்புறுத்தப்பட்டார்.<br><br>

                </p>
            </p-accordionTab>

            <p-accordionTab header="பேரறிஞர் அண்ணா பெரு மகிழ்ச்சிக் கொண்டார்">
                <p>
                    சிறந்த சமூக ஊழியராக, பொதுநலவாதியாக, பொதுத்தொண்டு புரிபவராக தமது பொதுவாழ்வைத் தொடங்கி கழக கொள்கைகளில் அவர் கொண்ட உரம் கண்டு பேரறிஞர் அண்ணா பெருமகிழ்ச்சிக் கொண்டார். அவரது பேரன்பிற்கு பாத்திரமானார். காயிதே மில்லத், இராஜாஜி, காமராஜர், பக்தவத்சலம் போன்ற தமிழகத்தின் மூத்த தலைவர்களோடு நெருங்கிப் பழகிடும் வாய்ப்பைப் பெற்றார்.<br><br>

                    1967ஆம் ஆண்டு திராவிட முன்னேற்றக் கழகம் தமிழகத்தில் பெரும் வெற்றி பெற்று அண்ணாவின் தலைமையில் ஆட்சி அமைத்தது.<br><br>

                    அண்ணா முதல்வராக பொறுப்பேற்றார். அப்போது நாடாளுமன்ற உறுப்பினராக பதவி வகித்த அவர், தாம் போட்டியிட்டு வென்ற தென்சென்னை தொகுதியில் கழக வேட்பாளராக மாறன் அவர்களை அறிவித்தார்.<br><br>

                    அரசியலில் அண்ணா அவர்களால் அடையாளம் காட்டப்பட்டு 1967ஆம் ஆண்டு நாடாளுமன்ற இடைத்தேர்தலில் கழக வேட்பாளராக களமிறங்கிய மாறன் அவர்களின் வேட்பு மனுவினை பேரறிஞர் அண்ணா, மூதறிஞர் இராஜாஜி, கண்ணியத்திற்குரிய காயிதே மில்லத் ஆகிய மூன்று பெருந்தலைவர்கள் முன்மொழிந்து வழிமொழிந்தனர். இந்த மகத்தான பெருமை தமிழகத்தில் வேறு எவருக்கும் கிட்டியிராத பெருமை.<br><br>

                </p>
            </p-accordionTab>
            <p-accordionTab header="முரசொலி மாறன் வகித்த பொறுப்புகள்">
                <p>
                    1967ஆம் ஆண்டு மக்களவைக்கு பெருவாரியான வாக்கு வித்தியாசத்தில் தேர்ந்தெடுக்கப்பட்டார்<br><br>

                    1971ஆம் ஆண்டிலும் மக்களவைக்கு தேர்ந்தெடுக்கப்பட்டார். பின்னர் 1977ஆம் ஆண்டு தொடங்கி 1982ஆம் ஆண்டு வரை மாநிலங்களவையின் உறுப்பினராக பதவி வகித்தார். அதுபோது, பொதுத்துறை நிறுவனங்கள் பற்றிய குழுவிலும் மூன்று முறை உறுப்பினர் பொறுப்பு வகித்தார்.<br><br>
                   
                    1980-82ஆம் ஆண்டுகளில் பொதுக் காரியங்கள் குழு உறுப்பினர், 1983-89ஆம் ஆண்டுகளில் மாநிலங்களவைக்கு இரண்டாவது முறையான தேர்ந்தெடுக்கப்பட்டார்.<br><br>

                    1980-82, 1991-95 - பொதுக்கணக்கு குழு உறுப்பினர், 1982-83, 1987-88 ஆகிய ஆண்டுகளில் பட்டியல் வகுப்பினர் மற்றும் பழங்குடியினர் நலம் பற்றிய குழுக்களில் உறுப்பினர்.<br><br>
                    
                    1988 துணைச் சட்டங்கள் பற்றிய குழு உறுப்பினர்.<br><br>

                    1989-95 மூன்றாவது முறையாக மாநிலங்களவை உறுப்பினர்.<br><br>

                    1989-90ஆம் ஆண்டுகளில் வி.பி. சிங் தலைமையிலான மத்திய அரசில் நகர்ப்புற வளர்ச்சித்துறை அமைச்சர்.<br><br>

                    1992-93 வங்கிக் கணக்குகளில் முறைகேடு பற்றி விசாரணை நடத்திய கூட்டு நாடாளுமன்றக் குழுவின் உறுப்பினர்.<br><br>

                    1996ஆம் ஆண்டு மூன்றாவது முறையாக மக்களவைக்குத் தேர்வு.<br><br>

                    1996-98 மத்திய தொழில் துறை அமைச்சராக பதவியேற்பு.<br><br>

                    1998ஆம் ஆண்டு மக்களவைக்கு நான்காவது முறையாக தேர்வு.<br><br>

                    பொதுக் காரியங்கள் குழு, வர்த்தகம் பற்றிய குழு, செய்தி மற்றும் ஒலிபரப்புத் துறை ஆலோசனைக் குழு, சட்ட ஆலோசனைக் குழு, நிதித்துறை ஆலோசனைக் குழு, வெளி உளவுத் துறை ஆலோசனைக் குழு, பொதுத் துறை நிறுவனங்கள் பற்றிய குழு, பொதுக் கணக்குக் குழு போன்ற நாடாளுமன்றத்தின் ஏராளமான குழுக்களின் உறுப்பினர்.<br><br>

                    1999ஆம் ஆண்டு ஐந்தாவது முறையாக மக்களவைக்குத் தேர்வு. 1999ஆம் ஆண்டு முதல் மத்திய வர்த்தகம் மற்றும் தொழில்துறை அமைச்சர் பதவி வகிப்பு என பொது நலத் தொண்டராக அவர் வகித்த பொறுப்புகளும் புரிந்த சாதனைகளும் ஏராளம், ஏராளம்!<br><br>

                    தமிழக அரசியலையே தரணிக்கு எடுத்துணர்த்திடும் ஏராளமான புத்தகங்களைப் படைத்தளித்திருக்கிறார். மாநில சுயாட்சி , திராவிட இயக்க வரலாறு , ஏன் வேண்டும் இன்பத் திராவிடம் எனும் பெரும் ஆராய்ச்சி நூல்கள் கழகத்தின் வரலாற்றினை பாருக்கு எடுத்துணர்த்திடும் நூல்கள் எனில் அது மிகையல்ல. 20-க்கும் மேற்பட்ட தமிழ்த் திரைப்படங்களுக்கு வசனம் தீட்டியவர். 5 திரைப்படங்களை தயாரித்தவர், இரண்டு திரைப்படங்களுக்கு இயக்குநராக பணியாற்றியவர் மாறன் அவர்கள்.<br><br>
                   
                    1975ஆம் ஆண்டில் சங்கீத நாடக அகாடமியின் கலைமாமணி விருது பெற்றவர்.<br><br>

                    மூன்று சிறந்த திரைப்படங்களுக்காக குடியரசுத் தலைவரின் பாராட்டுச் சான்றிதழ், தமிழ்நாடு அரசின் விருது ஆகியவைகளைப் பெற்றவர்.<br><br>

                    ‘முரசொலி’ நாளேடு அன்னியில், ‘குங்குமம்’, ‘முத்தாரம்’, ‘வண்ணத்திரை’, ‘சுமங்கலி’ ஆகிய வார இதழ்களைத் தோற்றுவித்தவர்.<br><br>

                    1975ஆம் ஆண்டில் சங்கீத நாடக அகாடமியின் கலைமாமணி விருது பெற்றவர்.<br><br>

                    மூன்று சிறந்த திரைப்படங்களுக்காக குடியரசுத் தலைவரின் பாராட்டுச் சான்றிதழ், தமிழ்நாடு அரசின் விருது ஆகியவைகளைப் பெற்றவர்.<br><br>

                    ‘முரசொலி’ நாளேடு அன்னியில், ‘குங்குமம்’, ‘முத்தாரம்’, ‘வண்ணத்திரை’, ‘சுமங்கலி’ ஆகிய வார இதழ்களைத் தோற்றுவித்தவர்.<br><br>

                    "The Rising Sun" என்னும் ஆங்கில வாரப் பத்திரிகையையும் உருவாக்கி நடத்தியவர் மாறன். சென்னை பத்திரிகையாளர் சங்கத்தின் நிறுவனர் - உறுப்பினர் மற்றும் அதன் முதலாவது தலைவர் எனும் பதவிகளை வகித்தவர். பச்சையப்பன் அறக்கட்டளை நிர்வாக சபையில் 1970 முதல் 1978 வரை அறங்காவலர், 1976இல் அதன் தலைவர் ஆகிய பதவிகளை வகித்தவர்.<br><br>

                    புதுடெல்லியில் உள்ள இந்திய சர்வதேச மையம் எனும் விளையாட்டு மன்றத்தின் உறுப்பினர் பொறுப்பு வகித்தவர் மாறன் அவர்கள். உலகத்தின் பல்வேறு நாடுகளிலும் சுற்றுப் பயணம் செய்தவர்.<br><br>

                    1989ஆம் ஆண்டில் லண்டனில் நடைபெற்ற ‘காமன் வெல்த்’ நாடாளுமன்ற மாநாட்டில் கலந்து கொண்ட நாடாளுமன்ற தூதுக் குழுவிலும், 1994ஆம் ஆண்டில் ஜெர்மனிக்கும், அயர்லாந்துக்கும் சென்ற இந்திய தூதுக் குழுவிலும் உறுப்பினராக பணியாற்றியவர் மாறன் அவர்கள். இப்படி தாம் தொட்ட துறைகளில் எல்லாம் முத்திரைப் பதித்தார் முரசொலி மாறன் அவர்கள்.<br><br>

                </p>
            </p-accordionTab>
        </p-accordion>               
                      
    </div>
</div>
  </p-panel>
</div>










      
        
        
                
            
