<div #row1 class="col-12 md:col-12 lg:col-12 no-pad">
    <div class="grid">
        <div class="col-12 md:col-4 lg:col-4 nunc-bott-grid">
            <div class="col-12 md:col-12 lg:col-5">
                <div class="red red-header" style="margin-top: -38px;"><h4>உள்ளாட்சியிலும் மலரட்டும் நம்ம ஆட்சி!</h4></div>&nbsp;&nbsp;
                <iframe src="https://www.youtube.com/embed/-sPViXjK_qs" height="280px" width="80%"
                    style="display:block; margin: 0 auto; "></iframe>
            </div>
            <div class="headind-text">
                <h3>நான் பெற்ற முதல் குழந்தை</h3>
            </div>
            <p>
                "தவழ்ந்தாடும் - தத்தி நடக்கும் - தணலை மிதிக்கும் - விழும்! எழும்! ஆனாலும் எந்த நிலையிலும் கொண்ட கொள்கையை
                மண்டியிட வைத்ததில்லை முன்வைத்த காலைப் பின் வைக்க நினைத்ததுமில்லை!"
                <strong> முரசொலி நான் பெற்ற முதல் குழந்தை!</strong>
                " ஆம் அந்த முதற் பிள்ளைதான் தலையாலங்கானத்துச் செருவென்ற பாண்டியனைப்போல கிண்கிணி அணிந்த கால்களுடன்
                பகைவர்கள் பலரைக் களத்தில் சந்திக்க சென்று வா மகனே! செருமுனை நோக்கி! என அனுப்பி வைக்கப்பட்ட அன்புப்
                பிள்ளை! "
                <br>
                "
                - கலைஞர் மு. கருணாநிதி"
            </p>
        </div>
        <div #col2 class="col-12 md:col-4 lg:col-4 nunc-bott-grid">
            <div class="headind-text">
                <h3>முரசொலி மாறன்</h3>
            </div>
            <div class="header-logo">
                <img class="wrap" src="assets/images/news/murasolimaran.png">
            </div>
            <p>
                "திராவிட இயக்க முன்னோடி, சிந்தனையாளர், ஒப்பற்ற எழுத்தாளர், ஆசியாவின் மிகச் சிறந்த பொருளாதார மேதை,
                முரசொலியின் பிதாமகன், கலைஞரின் மனசாட்சி, திராவிட முன்னேற்றக் கழகத்தின் மூளை, இந்தியாவின் மூத்த
                பத்திரிகையாளர், தமிழ் வளர்த்த ‘முரசொலி’ எனும் முதுபெரும் நாளேட்டின் ஆசிரியர், இளம் பிராயம் தொட்டு
                பொதுப்பணியிலே ஆர்வம் கொண்டு"
            </p>
            <div class="nunc-bwn">
                <a routerLink="/aboutmaran" style="text-decoration: none;">மேலும்</a>
            </div>
        </div>
        <div #col3 class="col-12 md:col-4 lg:col-4 nunc-bott-grid">
            <div class="headind-text">
                <h3>முரசொலி அறக்கட்டளை</h3>
            </div>
            <p>
                "ஒரு பொது உதவி அறக்கட்டளை நிறுவ வேண்டும் என்று கழகத் தலைவர் கலைஞர் அவர்களின் அறிவிப்பிற்கிணங்க முரசொலி
                அறக்கட்டளை நிறுவப்பட்டது. தமிழ் மொழி, இலக்கியம், கலை, கலாச்சாரம் ஆகியவற்றின் வளர்ச்சிக்காக
                அரும்பணியாற்றி அதில் சிறப்புப் பெற்றோரில் சிலரை தேர்ந்தெடுத்து அவர்களை உரிய முறையில் கௌரவிக்கப்பட்டு,
                ஒவ்வொரு ஆண்டும் பரிசு வழங்கப்படுகிறது.
                தமிழ் இலக்கிய வளர்ச்சிக்காக பள்ளி மற்றும் கல்லூரியில் பயிலும் மாணவ மாணவியருக்கான பாவேந்தர் பாரதிதாசனார்
                பாடல் "
            </p>
        </div>
        <div class="col-12 bdr-horizontal-dark"></div>
        <!-- //Thirukural -->
        <div #row1 class="col-12 md:col-12 lg:col-12 no-pad-btm">
            <h3 class="red txt-ctr">தினம் ஒரு திருக்குறள்</h3>
            <div class="grid">
                <!-- <div class="col-2"></div>  -->
                <div class="col-12 md:col-12 lg:col-12">
                    <img src="../assets/images/news/thiruvalluvar.jpg"
                        alt>
                </div>
                <!-- <div class="col-1"></div> -->
                <div class="col-12 md:col-6 lg:col-7">
                    <div class="col-12 md:col-12 lg:col-12 kural-div"><span class="dsh-topic font-short">"தம்பொருள் என்பதம் மக்கள் அவர்பொருள்
                            <br>
                            தம்தம் வினையான் வரும்."
                        </span>
                    </div>
                    <!-- <div class="col-1"></div> -->
                    <div class="col-12 md:col-12 lg:col-12">
                        <b class="red">குறள் :</b>
                        63 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <b class="red">அதிகாரம் :</b>
                        மக்கட்பேறு
                        <br>
                        <b class="red">பிரிவு :</b>
                        அறம் &nbsp;&nbsp;
                        <b class="red">கிளை :</b>
                        இல்லறவியல்
                       
                    </div>
                    <div class="col-1"></div>
                    <div class="col-12 md:col-12 lg:col-12 font-short" style="font-family:Tahoma, Geneva, sans-serif; font-size:18px; line-height:24px;">
                        "தம் பொருள் என்பது தம்மக்களையேயாம். அம்மக்களின் <br>
                        பொருள்கள் அவரவர் செயல்களின்<br>விளைவாக வரக்கூடியவை."
                        <br>
                        <strong class="red">- கலைஞர் மு. கருணாநிதி </strong>
                    </div>
                </div>
                </div>
        </div>
    </div>
</div>